/* colours */
:host {
  display: block;
  position: relative;
  --primary: #ffe9d2;
  --secondary: #ffe1c4;
  --tertiary: #3e2400;
  --title: #ff8816;
  --white: #fff;
  --grey: #f5f5f5;
  --dark-grey: #333;
}

  
  
  